BorderPane{
    -fx-outer-border: transparent;
    -fx-border-width:0;
}



VBox {
    -fx-spacing: 10;
}

ScrollPane{
    -fx-padding: 10 ;
    -fx-box-border: transparent;
}


#back {
   -fx-padding: 10 ;
}
