HBox {
    /*-fx-pref-height: 40px;*/
    -fx-alignment: center;
    -fx-font-weight:bold;
    -fx-spacing: 20;
    -fx-font-size: 20;
    -fx-wrap-text: true;
    -fx-border-width:1;
        -fx-border-color:green;
}

VBox {
    -fx-alignment: center;
    -fx-font-weight:bold;
    -fx-spacing: 10;
    -fx-border-width:1;
        -fx-border-color: blue;
}

VBox .button{
    -fx-pref-width:  250px;
    -fx-pref-height: 70px;
    -fx-font-size: 16;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-outer-border: transparent;
    -fx-border-color:transparent;
}

FlowPane{
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10 ;
    -fx-border-width:0;
}

SplitPane{
    -fx-box-border: transparent;
}

.split-pane-divider {
  -fx-padding: 0 ;
}

.question{
    -fx-text-alignment: center;
    -fx-font-weight:bold;
    /*-fx-font-size: 200%;*/
    -fx-wrap-text: true;
    -fx-word-wrap: break-word;
    -fx-padding: 0 ;
    -fx-text-fill : green;
}

#correctAnswer {
    -fx-pref-height: 40px;
    -fx-alignment: center;
    -fx-font-weight:bold;
    -fx-spacing: 20;
    -fx-font-size: 14;
    -fx-wrap-text: true;
}

/* remove horizontal scroll bar */
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}