
#deck{
    -fx-background-image: url("../images/style_paper/deck.png");
}
#deck_single{
    -fx-background-image: url("../images/style_paper/deck.png");
}
#deck_front{
    -fx-background-image: url("../images/style_paper/deck.png");
}
#deck_back{
    -fx-background-image: url("../images/style_paper/deck.png");
}

#hit{
    -fx-background-image: url("../images/style_paper/hit.png");
}
#hit_deck{
    -fx-background-image: url("../images/style_paper/hit.png");
}
#hit_back{
    -fx-background-image: url("../images/style_paper/hit.png");
}
#hit_front{
     -fx-background-image: url("../images/style_paper/hit.png");
}

#hit_single{
    -fx-background-image: url("../images/style_paper/hit.png");
}


#miss{
    -fx-background-image: url("../images/style_paper/miss.png");
}
#sea{
    -fx-background-image: url("../images/style_paper/sea.png");
}

.player.button:hover{
    -fx-graphic: url("../images/style_paper/cross.png");
    -fx-max-height: 30;
    -fx-max-width: 30;
    -fx-padding:0;
}
